/* Add your custom css styles */

body {
    color: #636363;
}

.background-overlay:before {
    background: #506380;
}

#slider > :first-child {
    background-position: center center !important;;
}

.page-keys h4 {
}

.page-keys h4 span {
    color: #506380;
    font-size: 3rem;

}

.rev_slider .slotholder:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    background: rgba(172, 90, 140, 0.57)
}

.contacto-direcciones h3 {
    color: #6F6F6F;
}

.contacto-direcciones h4 {
    color: #506380;
    text-transform: uppercase;
    font-weight: 400;
}

.contacto-direcciones p {
    color: #8d8d8d;
    padding-left: 10px;
}

.direcciones p {
    margin: 0;
    font-size: 1.1rem;
    color: #8A8A8A;
}

.direcciones h3 {
    margin: 0;
    font-size: 1.8rem;
}

.button.contacto-mail:hover {
    color: #506380 !important;
}

.form-group label {
    color: #929292;
    margin-bottom: 0px;
    text-transform: none;
    font-size: 12px;
}

.form-gray-fields .form-control {
    font-size: 1.2rem;
    background-color: #f8f8f8;
    border: 1px solid #ebebeb;
    padding: 5px 10px;
}

.form-gray-fields .form-control.error {
    border: 2px solid #FF4C3F;
}

.form-gray-fields .form-group {
    margin-bottom: 5px;
}

#span-terminos a {
    text-decoration: underline !important;
    color: #506380;
}

#span-terminos.error {
    display: inline-block;
    color: red;
}

#span-terminos.error a {
    color: red !important;
}

.contacto-mensajes {
    padding: 5px 20px;
    display: none;
    margin-bottom: 20px;
}

#contacto-success {
    border: 1px solid #009688;
    background: #D9F3DA;
    color: #009688;
}

#contacto-fail {
    padding: 5px;
    border: 1px solid #F58181;
    background: #F5B8B8;
    color: #EC5050;
}

.ol-type1 {
    counter-reset: li;
    margin-left: 5px;
    padding-left: 0;
    margin-top: 20px;
}

.ol-type1 > li {
    color: #999999;
    list-style: none outside none;
    margin: 0 0 20px 20px;
    padding: 4px 8px 4px 30px;
    position: relative;
    font-size: 12px;
    line-height: 18px;
}
.ol-type1 > li a {
    color: #506380 !important;
}
.ol-type1 > li:before {
    background-color: #506380;
    padding: 10px;
    -moz-box-sizing: border-box;
    color: #FFFFFF;
    content: counter(li, decimal);
    counter-increment: li;
    font-size: 24px;
    left: -1em;
    margin-right: 8px;
    position: absolute;
    text-align: center;
    width: 36px;
}
