<form role="form">
  <div ng-init="setForm(articulosForm)"></div>
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(articulosForm.nombre_es, submitted), 'has-success': isCorrecto(articulosForm.nombre_es, articulo.nombre_es) }">
        <label class="control-label">{{ 'NOMBRE' | translate | capitalize }} ES</label>
        <input ng-model="articulo.nombre_es" class="form-control" placeholder="{{ 'NOMBRE' | translate | capitalize }} ES" name="nombre_es" type="text" required>
        <div class="alert-danger" ng-show="isIncorrecto(articulosForm.nombre_es, submitted)">El nombre ES es obligatorio!</div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(articulosForm.nombre_en, submitted), 'has-success': isCorrecto(articulosForm.nombre_en, articulo.nombre_en) }">
        <label class="control-label">{{ 'NOMBRE' | translate | capitalize }} EN</label>
        <input ng-model="articulo.nombre_en" class="form-control" placeholder="{{ 'NOMBRE' | translate | capitalize }} EN" name="nombre_en" type="text" required>
        <div class="alert-danger" ng-show="isIncorrecto(articulosForm.nombre_en, submitted)">El nombre EN es obligatorio!</div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(articulosForm.nombre_fr, submitted), 'has-success': isCorrecto(articulosForm.nombre_fr, articulo.nombre_fr) }">
        <label class="control-label">{{ 'NOMBRE' | translate | capitalize }} FR</label>
        <input ng-model="articulo.nombre_fr" class="form-control" placeholder="{{ 'NOMBRE' | translate | capitalize }} FR" name="nombre_fr" type="text" required>
        <div class="alert-danger" ng-show="isIncorrecto(articulosForm.nombre_fr, submitted)">El nombre FR es obligatorio!</div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(articulosForm.fecha, submitted), 'has-success': isCorrecto(articulosForm.fecha, articulo.fecha) }">
        <label class="control-label">{{ 'FECHA' | translate | capitalize }}</label>
        <input ng-model="articulo.fecha" class="form-control" placeholder="{{ 'FECHA' | translate | capitalize }}" name="fecha" type="text" required>
        <div class="alert-danger" ng-show="isIncorrecto(articulosForm.fecha, submitted)">La fecha es obligatoria!</div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(articulosForm.titulo_es, submitted), 'has-success': isCorrecto(articulosForm.titulo_es, articulo.titulo_es) }">
        <label class="control-label">{{ 'TITULO' | translate | capitalize }} ES</label>
        <input ng-model="articulo.titulo_es" class="form-control" placeholder="{{ 'TITULO' | translate | capitalize }} ES" type="text" name="titulo_es" required>
        <div class="alert-danger" ng-show="isIncorrecto(articulosForm.titulo_es, submitted)">El tÍtulo ES es obligatorio!</div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(articulosForm.titulo_en, submitted), 'has-success': isCorrecto(articulosForm.titulo_en, articulo.titulo_en) }">
        <label class="control-label">{{ 'TITULO' | translate | capitalize }} EN</label>
        <input ng-model="articulo.titulo_en" class="form-control" placeholder="{{ 'TITULO' | translate | capitalize }} EN" type="text" name="titulo_en" required>
        <div class="alert-danger" ng-show="isIncorrecto(articulosForm.titulo_en, submitted)">El titulo EN es obligatorio!</div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(articulosForm.titulo_fr, submitted), 'has-success': isCorrecto(articulosForm.titulo_fr, articulo.titulo_fr) }">
        <label class="control-label">{{ 'TITULO' | translate | capitalize }} FR</label>
        <input ng-model="articulo.titulo_fr" class="form-control" placeholder="{{ 'TITULO' | translate | capitalize }} FR" type="text" name="titulo_fr" required>
        <div class="alert-danger" ng-show="isIncorrecto(articulosForm.titulo_fr, submitted)">El titulo FR es obligatorio!</div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(articulosForm.autores, submitted), 'has-success': isCorrecto(articulosForm.autores, articulo.autores) }">
        <label class="control-label">{{ 'AUTORES' | translate | capitalize }}</label>
        <textarea ng-model="articulo.autores" class="form-control" rows="6" name="autores" required></textarea>
        <div class="alert-danger" ng-show="isIncorrecto(articulosForm.autores, submitted)">Los autores son obligatorios!</div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="form-group">
        <label class="control-label">{{ 'ADJUNTOS' | translate | capitalize }}</label>
        <div ng-hide="articulo.id_pla_adjuntos != null || adjunto != null">
          <button type="file" ng-file-select="anyadirAdjunto($files)" class="btn btn-success">
          <i class="fa fa-plus"></i> {{ 'AÑADIR' | translate | capitalize }} {{ 'ADJUNTO' | translate | capitalize }}
          </button>
        </div>
        <div ng-show="articulo.id_pla_adjuntos != null || adjunto != null">
          {{adjuntoNombre}}{{articulo.adjunto.nombre}}
          <a class="btn btn-danger" ng-click="eliminarAdjunto(articulo.adjunto)">
          <i class="fa fa-trash"></i> {{ 'ELIMINAR' | translate | capitalize }} {{ 'ADJUNTO' | translate | capitalize }}
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="form-group">
        <label class="control-label">{{ 'DESCRIPCION' | translate | capitalize }}</label>
        <textarea ng-model="articulo.descripcion" class="form-control" rows="6"></textarea>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" ng-click="submitted=true">{{ textoBoton | translate | capitalize }} {{ 'ARTICULO' | translate | capitalize }}</button>
  <button ng-click="cancelar()" class="btn btn-default">{{ 'CANCELAR' | translate | capitalize }}</button>
</form>