<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">{{ 'ARTICULOS' | translate | capitalize }} <small>{{ 'EDITAR' | translate | capitalize }}</small></h1>
    <panel-breadcrumb></panel-breadcrumb>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <form name="articulosForm" ng-submit="articulosForm.$valid && updateArticulo(articulo, adjunto, adjuntoEliminar)" ng-include="'src/app/articulos/articulos-form.html'" novalidate>
    </form>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->