<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">{{ 'ARTICULOS' | translate | capitalize }}</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-4">
    <button ng-click="nuevoArticulo()" type="button" class="btn btn-success"><i class="fa fa-plus"></i> {{ 'NUEVO' | translate | capitalize }}</button>
    <br>
    <br>
  </div>
  <!-- /.col-lg-4 -->
  <div class="col-lg-8">
    <input type="text" class="form-control" ng-model="busqueda" ng-change="actualizarBusqueda()" placeholder="{{ 'BUSCAR' | translate | capitalize }} {{ 'ARTICULO' | translate | capitalize }}" />
    <br>
    <br>
  </div>
  <!-- /.col-lg-8 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div ng-hide="tableParams.total()">{{ 'NO_HAY' | translate | capitalize }} {{ 'ARTICULOS' | translate }}.</div>
    <table ng-table="tableParams" class="table table-striped table-bordered table-hover" ng-show="$data">
      <tr ng-repeat="articulo in $data" class="animate-repeat">
        <td data-title="'NOMBRE' | translate | capitalize">{{articulo.nombre_es}}</td>
        <td data-title="'FECHA' | translate | capitalize">{{articulo.fecha}}</td>
        <td data-title="'AUTORES' | translate | capitalize">{{articulo.autores}}</td>
        <td data-title="'ACCIONES' | translate | capitalize" width="110px">
          <button ng-click="editarArticulo(articulo.id)" type="button" class="btn glyphicon glyphicon-edit btn-warning" title="{{ 'EDITAR' | translate | capitalize }}"/>
          <button ng-click="eliminarArticulo(articulo, $index)" type="button" class="btn glyphicon glyphicon-trash btn-danger" title="{{ 'ELIMINAR' | translate | capitalize }}"/>
        </td>
      </tr>
    </table>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->