<form role="form">
  <div ng-init="setForm(tiposForm)"></div>
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(tiposForm.nombre_es, submitted), 'has-success': isCorrecto(tiposForm.nombre_es, tipo.nombre_es) }">
        <label class="control-label">{{ 'NOMBRE' | translate | capitalize }} ES</label>
        <input ng-model="tipo.nombre_es" class="form-control" placeholder="{{ 'NOMBRE' | translate | capitalize }} ES" name="nombre_es" type="text" required>
        <div class="alert-danger" ng-show="isIncorrecto(tiposForm.nombre_es, submitted)">El nombre ES es obligatorio!</div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(tiposForm.nombre_en, submitted), 'has-success': isCorrecto(tiposForm.nombre_en, tipo.nombre_en) }">
        <label class="control-label">{{ 'NOMBRE' | translate | capitalize }} EN</label>
        <input ng-model="tipo.nombre_en" class="form-control" placeholder="{{ 'NOMBRE' | translate | capitalize }} EN" name="nombre_en" type="text" required>
        <div class="alert-danger" ng-show="isIncorrecto(tiposForm.nombre_en, submitted)">El nombre EN es obligatorio!</div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(tiposForm.nombre_fr, submitted), 'has-success': isCorrecto(tiposForm.nombre_fr, tipo.nombre_fr) }">
        <label class="control-label">{{ 'NOMBRE' | translate | capitalize }} FR</label>
        <input ng-model="tipo.nombre_fr" class="form-control" placeholder="{{ 'NOMBRE' | translate | capitalize }} FR" name="nombre_fr" type="text" required>
        <div class="alert-danger" ng-show="isIncorrecto(tiposForm.nombre_fr, submitted)">El nombre FR es obligatorio!</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(tiposForm.descripcion_es, submitted), 'has-success': isCorrecto(tiposForm.descripcion_es, tipo.descripcion_es) }">
        <label class="control-label">{{ 'DESCRIPCION' | translate | capitalize }} ES</label>
        <textarea ng-model="tipo.descripcion_es" class="form-control" rows="14" name="descripcion_es" required></textarea>
        <div class="alert-danger" ng-show="isIncorrecto(tiposForm.descripcion_es, submitted)">La Descripción ES es obligatoria!</div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(tiposForm.descripcion_en, submitted), 'has-success': isCorrecto(tiposForm.descripcion_en, tipo.descripcion_en) }">
        <label class="control-label">{{ 'DESCRIPCION' | translate | capitalize }} EN</label>
        <textarea ng-model="tipo.descripcion_en" class="form-control" rows="14" name="descripcion_en" required></textarea>
        <div class="alert-danger" ng-show="isIncorrecto(tiposForm.descripcion_en, submitted)">La Descripción EN es obligatoria!</div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(tiposForm.descripcion_fr, submitted), 'has-success': isCorrecto(tiposForm.descripcion_fr, tipo.descripcion_fr) }">
        <label class="control-label">{{ 'DESCRIPCION' | translate | capitalize }} FR</label>
        <textarea ng-model="tipo.descripcion_fr" class="form-control" rows="14" name="descripcion_fr" required></textarea>
        <div class="alert-danger" ng-show="isIncorrecto(tiposForm.descripcion_fr, submitted)">La Descripción FR es obligatoria!</div>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error': isIncorrecto(tiposForm.id_pla_areas, submitted), 'has-success': isCorrecto(tiposForm.id_pla_areas, tipo.id_pla_areas) }">
    <label class="control-label">{{ 'AREA' | translate | capitalize }}</label>
    <select ng-options="area.id as area.nombre_es for area in areas" ng-model="tipo.id_pla_areas" class="form-control" name="id_pla_areas" required>
      <option value="">-- selecciona un area --</option>
    </select>
    <div class="alert-danger" ng-show="isIncorrecto(tiposForm.id_pla_areas, submitted)">El area es obligatoria!</div>
  </div>
  <button type="submit" class="btn btn-primary" ng-click="submitted=true">{{ textoBoton | translate | capitalize }} {{ 'TIPO' | translate | capitalize }}</button>
  <button ng-click="cancelar()" class="btn btn-default">{{ 'CANCELAR' | translate | capitalize }}</button>
</form>