<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">{{ 'TIPOS' | translate | capitalize }} <small>{{ 'AÑADIR' | translate | capitalize }}</small></h1>
    <panel-breadcrumb></panel-breadcrumb>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <form name="tiposForm" ng-submit="tiposForm.$valid && crearTipo(tipo)" ng-include="'src/app/tipos/tipos-form.html'" novalidate>
    </form>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->