<form role="form">
  <div ng-init="setForm(proyectosIdiForm)"></div>
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(proyectosIdiForm.nombre_es, submitted), 'has-success': isCorrecto(proyectosIdiForm.nombre_es, proyectoIdi.nombre_es) }">
        <label class="control-label">{{ 'NOMBRE' | translate | capitalize }} ES</label>
        <input ng-model="proyectoIdi.nombre_es" class="form-control" placeholder="{{ 'NOMBRE' | translate | capitalize }} ES" type="text" name="nombre_es" required>
        <div class="alert-danger" ng-show="isIncorrecto(proyectosIdiForm.nombre_es, submitted)">El nombre ES es obligatorio!</div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(proyectosIdiForm.nombre_en, submitted), 'has-success': isCorrecto(proyectosIdiForm.nombre_en, proyectoIdi.nombre_en) }">
        <label class="control-label">{{ 'NOMBRE' | translate | capitalize }} EN</label>
        <input ng-model="proyectoIdi.nombre_en" class="form-control" placeholder="{{ 'NOMBRE' | translate | capitalize }} EN" type="text" name="nombre_en" required>
        <div class="alert-danger" ng-show="isIncorrecto(proyectosIdiForm.nombre_en, submitted)">El nombre EN es obligatorio!</div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(proyectosIdiForm.nombre_fr, submitted), 'has-success': isCorrecto(proyectosIdiForm.nombre_fr, proyectoIdi.nombre_fr) }">
        <label class="control-label">{{ 'NOMBRE' | translate | capitalize }} FR</label>
        <input ng-model="proyectoIdi.nombre_fr" class="form-control" placeholder="{{ 'NOMBRE' | translate | capitalize }} FR" type="text" name="nombre_fr" required>
        <div class="alert-danger" ng-show="isIncorrecto(proyectosIdiForm.nombre_fr, submitted)">El nombre FR es obligatorio!</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(proyectosIdiForm.descripcion_es, submitted), 'has-success': isCorrecto(proyectosIdiForm.descripcion_es, proyectoIdi.descripcion_es) }">
        <label class="control-label">{{ 'DESCRIPCION' | translate | capitalize }} ES</label>
        <textarea ng-model="proyectoIdi.descripcion_es" name="descripcion_es" class="form-control" rows="6" required></textarea>
        <div class="alert-danger" ng-show="isIncorrecto(proyectosIdiForm.descripcion_es, submitted)">La descripción ES es obligatoria!</div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(proyectosIdiForm.descripcion_en, submitted), 'has-success': isCorrecto(proyectosIdiForm.descripcion_en, proyectoIdi.descripcion_en) }">
        <label class="control-label">{{ 'DESCRIPCION' | translate | capitalize }} EN</label>
        <textarea ng-model="proyectoIdi.descripcion_en" name="descripcion_en" class="form-control" rows="6" required></textarea>
        <div class="alert-danger" ng-show="isIncorrecto(proyectosIdiForm.descripcion_en, submitted)">La descripción EN es obligatoria!</div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(proyectosIdiForm.descripcion_fr, submitted), 'has-success': isCorrecto(proyectosIdiForm.descripcion_fr, proyectoIdi.descripcion_fr) }">
        <label class="control-label">{{ 'DESCRIPCION' | translate | capitalize }} FR</label>
        <textarea ng-model="proyectoIdi.descripcion_fr" name="descripcion_fr" class="form-control" rows="6" required></textarea>
        <div class="alert-danger" ng-show="isIncorrecto(proyectosIdiForm.descripcion_fr, submitted)">La descripción FR es obligatoria!</div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" ng-click="submitted=true">{{ textoBoton | translate | capitalize }} {{ 'PROYECTO_IDI' | translate | capitalize }}</button>
  <button ng-click="cancelar()" class="btn btn-default">{{ 'CANCELAR' | translate | capitalize }}</button>
</form>