<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">{{ 'PROYECTOS_IDI' | translate | capitalize }} <small>{{ 'EDITAR' | translate | capitalize }}</small></h1>
    <panel-breadcrumb></panel-breadcrumb>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <form name="proyectosIdiForm" ng-submit="proyectosIdiForm.$valid && updateProyectoIdi(proyectoIdi)" ng-include="'src/app/proyectosIdi/proyectosIdi-form.html'" novalidate>
    </form>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->