<ol class="breadcrumb">
  <li ng-repeat="opcion in opciones">
    <a ng-if="opcion.url" href="#{{opcion.url}}"><i class="fa {{opcion.icono}}"></i> {{ opcion.nombre | translate | capitalize }}</a>
    <span ng-if="!opcion.url">{{ opcion.nombre | translate | capitalize }}</span>
  </li>
</ol>