<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Admin Planifica</a>
  </div>
  <!-- /.navbar-header -->
  <ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="">
      <i class="fa fa-language fa-fw"></i> {{ 'IDIOMA' | translate | capitalize }} <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li ng-repeat="l in lenguages">
          <a ng-click="setLenguage(l)">
          <img src="{{ l.imagen }}"/> {{ l.nombre }}
          </a>
        </li>
      </ul>
      <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="">
      <i class="fa fa-user fa-fw"></i> {{usuario}} <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li><a href="user/logout"><i class="fa fa-sign-out fa-fw"></i> Desconectar</a>
        </li>
      </ul>
      <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
  </ul>
  <!-- /.navbar-top-links -->
  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li ng-repeat="opcion in opciones">
          <a  ng-class="{ active: isSeleccionada(opcion) }" ng-click="setOpcion(opcion)"  href=""><i class="fa {{opcion.icono}} fa-fw"></i> {{ opcion.nombre | translate | capitalize }}<span ng-if="opcion.subOpciones" class="fa arrow"></span></a>
          <ul ng-if="opcion.subOpciones" class="nav nav-second-level">
            <li ng-repeat="subOpcion in opcion.subOpciones">
              <a ng-class="{ active: isSeleccionada(subOpcion) }" ng-click="setOpcion(subOpcion)" href>{{ subOpcion.nombre | translate | capitalize }}</a>
            </li>
          </ul>
          <!-- /.nav-second-level -->
        </li>
      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>