<div class="alert alert-{{tipo}} fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert">
  <span aria-hidden="true">&times;</span>
  <span class="sr-only">Close</span>
  </button>
  <div ng-transclude></div>
</div>