<div class="form-group" ng-class="{ 'has-error': isIncorrecto({{nombre}}, submitted), 'has-success': isCorrecto({{nombre}}, {{modelo}}) }">
  <label class="control-label">{{label}}</label>
  <div ng-transclude></div>
  <div class="alert-danger" ng-show="isIncorrecto({{nombre}}, submitted)">El nombre ES es obligatorio!</div>
</div>