<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">{{ 'RESUMEN' | translate | capitalize }}</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-4 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-circle-o-notch fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{ areas.length }}</div>
            <div>{{ 'AREAS' | translate | capitalize }}</div>
          </div>
        </div>
      </div>
      <a href="#/areas">
      <div class="panel-footer">
        <span class="pull-left">{{ 'VER' | translate | capitalize }} {{ 'AREAS' | translate }}</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-list fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{ tipos.length }}</div>
            <div>{{ 'TIPOS' | translate | capitalize }}</div>
          </div>
        </div>
      </div>
      <a href="#/tipos">
      <div class="panel-footer">
        <span class="pull-left">{{ 'VER' | translate | capitalize }} {{ 'TIPOS' | translate }}</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-tasks fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{ proyectos.length }}</div>
            <div>{{ 'PROYECTOS' | translate | capitalize }}</div>
          </div>
        </div>
      </div>
      <a href="#/proyectos">
      <div class="panel-footer">
        <span class="pull-left">{{ 'VER' | translate | capitalize }} {{ 'PROYECTOS' | translate }}</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </div>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-md-6">
    <div class="panel panel-red">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-file-text fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{ articulos.length }}</div>
            <div>{{ 'ARTICULOS' | translate | capitalize }}</div>
          </div>
        </div>
      </div>
      <a href="#/articulos">
      <div class="panel-footer">
        <span class="pull-left">{{ 'VER' | translate | capitalize }} {{ 'ARTICULOS' | translate }}</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </div>
      </a>
    </div>
  </div>
  <div class="col-lg-6 col-md-6">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-search fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{ proyectosIdi.length }}</div>
            <div>{{ 'PROYECTOS_IDI' | translate | capitalize }}</div>
          </div>
        </div>
      </div>
      <a href="#/proyectos_idi">
      <div class="panel-footer">
        <span class="pull-left">{{ 'VER' | translate | capitalize }} {{ 'PROYECTOS_IDI' | translate }}</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </div>
      </a>
    </div>
  </div>
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> {{ 'PROYECTOS' | translate | capitalize }} - {{ 'AREAS' | translate | capitalize }}
      </div>
      <div class="panel-body">
        <nvd3-pie-chart
        id="exampleId"
        data="areas"
        x="xFunction()"
        y="yFunction()"
        width="700"
        height="500"
        showLabels="true"
        pieLabelsOutside="false"
        showValues="true"
        labelType="percent"
        showLegend="true">
        <svg></svg>
        </nvd3-pie-chart>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->