<form role="form">
  <div ng-init="setForm(areasForm)"></div>
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(areasForm.nombre_es, submitted), 'has-success': isCorrecto(areasForm.nombre_es, area.nombre_es) }">
        <label>{{ 'NOMBRE' | translate | capitalize }} ES</label>
        <input ng-model="area.nombre_es" class="form-control" placeholder="{{ 'NOMBRE' | translate | capitalize }} ES" name="nombre_es" type="text" required>
        <div class="alert-danger" ng-show="isIncorrecto(areasForm.nombre_es, submitted)">El nombre ES es obligatorio!</div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(areasForm.nombre_en, submitted), 'has-success': isCorrecto(areasForm.nombre_en, area.nombre_en) }">
        <label>{{ 'NOMBRE' | translate | capitalize }} EN</label>
        <input ng-model="area.nombre_en" class="form-control" placeholder="{{ 'NOMBRE' | translate | capitalize }} EN" name="nombre_en" type="text" required>
        <div class="alert-danger" ng-show="isIncorrecto(areasForm.nombre_en, submitted)">El nombre EN es obligatorio!</div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(areasForm.nombre_fr, submitted), 'has-success': isCorrecto(areasForm.nombre_fr, area.nombre_fr) }">
        <label>{{ 'NOMBRE' | translate | capitalize }} FR</label>
        <input ng-model="area.nombre_fr" class="form-control" placeholder="{{ 'NOMBRE' | translate | capitalize }} FR" name="nombre_fr" type="text" required>
        <div class="alert-danger" ng-show="isIncorrecto(areasForm.nombre_fr, submitted)">El nombre FR es obligatorio!</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(areasForm.descripcion_es, submitted), 'has-success': isCorrecto(areasForm.descripcion_es, area.descripcion_es) }">
        <label>{{ 'DESCRIPCION' | translate | capitalize }} ES</label>
        <textarea ng-model="area.descripcion_es" class="form-control" rows="14" name="descripcion_es" required></textarea>
        <div class="alert-danger" ng-show="isIncorrecto(areasForm.descripcion_es, submitted)">La descripción ES es obligatoria!</div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(areasForm.descripcion_en, submitted), 'has-success': isCorrecto(areasForm.descripcion_en, area.descripcion_en) }">
        <label>{{ 'DESCRIPCION' | translate | capitalize }} EN</label>
        <textarea ng-model="area.descripcion_en" class="form-control" rows="14" name="descripcion_en" required></textarea>
        <div class="alert-danger" ng-show="isIncorrecto(areasForm.descripcion_en, submitted)">La descripción EN es obligatoria!</div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(areasForm.descripcion_fr, submitted), 'has-success': isCorrecto(areasForm.descripcion_fr, area.descripcion_fr) }">
        <label>{{ 'DESCRIPCION' | translate | capitalize }} FR</label>
        <textarea ng-model="area.descripcion_fr" class="form-control" rows="14" name="descripcion_fr" required></textarea>
        <div class="alert-danger" ng-show="isIncorrecto(areasForm.descripcion_fr, submitted)">La descripción FR es obligatoria!</div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" ng-click="submitted=true">{{ textoBoton | translate | capitalize }} {{ 'AREA' | translate | capitalize }}</button>
  <button ng-click="cancelar()" class="btn btn-default">{{ 'CANCELAR' | translate | capitalize }}</button>
</form>