<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">{{ 'AREAS' | translate | capitalize }} <small>{{ 'AÑADIR' | translate | capitalize }}</small></h1>
    <panel-breadcrumb></panel-breadcrumb>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <form name="areasForm" ng-submit="areasForm.$valid && crearArea(area)" ng-include="'src/app/areas/areas-form.html'" novalidate>
    </form>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->