<form role="form">
  <div ng-init="setForm(proyectosForm)"></div>
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(proyectosForm.numero_expediente, submitted), 'has-success': isCorrecto(proyectosForm.numero_expediente, proyecto.numero_expediente) }">
        <label class="control-label">Nº Expediente</label>
        <input ng-model="proyecto.numero_expediente" class="form-control" placeholder="Nº expediente" name="numero_expediente" type="text" maxlength="6" required>
        <div class="alert-danger" ng-show="isIncorrecto(proyectosForm.numero_expediente, submitted)">El nº expediente es obligatorio</div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(proyectosForm.nombre_es, submitted), 'has-success': isCorrecto(proyectosForm.nombre_es, proyecto.nombre_es) }">
        <label class="control-label">{{ 'NOMBRE' | translate | capitalize }} ES</label>
        <input ng-model="proyecto.nombre_es" class="form-control" placeholder="{{ 'NOMBRE' | translate | capitalize }} ES" name="nombre_es" type="text" required>
        <div class="alert-danger" ng-show="isIncorrecto(proyectosForm.nombre_es, submitted)">El nombre ES es obligatorio!</div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(proyectosForm.nombre_en, submitted), 'has-success': isCorrecto(proyectosForm.nombre_en, proyecto.nombre_en) }">
        <label class="control-label">{{ 'NOMBRE' | translate | capitalize }} EN</label>
        <input ng-model="proyecto.nombre_en" class="form-control" placeholder="{{ 'NOMBRE' | translate | capitalize }} EN" name="nombre_en" type="text" ng-required="proyecto.tiene_ficha">
        <div class="alert-danger" ng-show="isIncorrecto(proyectosForm.nombre_en, submitted)">El nombre EN es obligatorio si tiene ficha!</div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(proyectosForm.nombre_fr, submitted), 'has-success': isCorrecto(proyectosForm.nombre_fr, proyecto.nombre_fr) }">
        <label class="control-label">{{ 'NOMBRE' | translate | capitalize }} FR</label>
        <input ng-model="proyecto.nombre_fr" class="form-control" placeholder="{{ 'NOMBRE' | translate | capitalize }} FR" name="nombre_fr" type="text" ng-required="proyecto.tiene_ficha">
        <div class="alert-danger" ng-show="isIncorrecto(proyectosForm.nombre_fr, submitted)">El nombre FR es obligatorio si tiene ficha!</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(proyectosForm.municipio, submitted), 'has-success': isCorrecto(proyectosForm.municipio, proyecto.municipio) }">
        <label class="control-label">{{ 'MUNICIPIO' | translate | capitalize }}</label>
        <input ng-model="proyecto.municipio" class="form-control" placeholder="{{ 'MUNICIPIO' | translate | capitalize }}" name="municipio" type="text" required>
        <div class="alert-danger" ng-show="isIncorrecto(proyectosForm.municipio, submitted)">El municipio es obligatorio!</div>
      </div>
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(proyectosForm.region, submitted), 'has-success': isCorrecto(proyectosForm.region, proyecto.region) }">
        <label class="control-label">{{ 'REGION' | translate | capitalize }}</label>
        <input ng-model="proyecto.region" class="form-control" placeholder="{{ 'REGION' | translate | capitalize }}" name="region" type="text" required>
        <div class="alert-danger" ng-show="isIncorrecto(proyectosForm.region, submitted)">La región es obligatoria!</div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="control-label">{{ 'TIENE_FICHA' | translate | capitalize }}</label>
            <input ng-model="proyecto.tiene_ficha" class="form-control" name="tiene_ficha" type="checkbox">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="control-label">{{ 'VISIBLE' | translate | capitalize }}</label>
            <input ng-model="proyecto.visible" class="form-control" name="visible" type="checkbox">
          </div>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(proyectosForm.importe, submitted), 'has-success': isCorrecto(proyectosForm.importe, proyecto.importe_adjudicacion) }">
        <label class="control-label">{{ 'IMPORTE_ADJUDICACION' | translate | capitalize }}</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-eur"></i>
          </span>
          <input ng-model="proyecto.importe_adjudicacion" class="form-control" placeholder="Introduce importe adjudicación" name="importe" type="number">
        </div>
        <div class="alert-danger" ng-show="isIncorrecto(proyectosForm.importe, submitted)">
          <span ng-show="proyectosForm.importe.$error.number">El importe debe ser un número!</span>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(proyectosForm.importe_ejecucion_pem, submitted), 'has-success': isCorrecto(proyectosForm.importe, proyecto.importe_ejecucion_pem) }">
        <label class="control-label">{{ 'IMPORTE_EJECUCION_PEM' | translate | capitalize }}</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-eur"></i>
          </span>
          <input ng-model="proyecto.importe_ejecucion_pem" class="form-control" placeholder="Introduce importe ejecucion" name="importe_ejecucion_pem" type="number">
        </div>
        <div class="alert-danger" ng-show="isIncorrecto(proyectosForm.importe_ejecucion_pem, submitted)">
          <span ng-show="proyectosForm.importe_ejecucion_pem.$error.number">El importe debe ser un número!</span>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label class="control-label">{{ 'LOCALIZACION' | translate | capitalize }}</label>
        <leaflet center="castellon" markers="markers" height="300px" width="auto">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(proyectosForm.fecha_inicio, submitted), 'has-success': isCorrecto(proyectosForm.fecha_inicio, proyecto.fecha_inicio) }">
        <label class="control-label">{{ 'FECHA_INICIO' | translate | capitalize }}</label>
        <input ng-model="proyecto.fecha_inicio" class="form-control" placeholder="Introduce fecha inicio" name="fecha_inicio" type="date" ng-required="proyecto.tiene_ficha">
        <div class="alert-danger" ng-show="isIncorrecto(proyectosForm.fecha_inicio, submitted)">La fecha de inicio es obligatoria si tiene ficha!</div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(proyectosForm.fecha_fin, submitted), 'has-success': isCorrecto(proyectosForm.fecha_fin, proyecto.fecha_fin) }">
        <label class="control-label">{{ 'FECHA_FIN' | translate | capitalize }}</label>
        <input ng-model="proyecto.fecha_fin" class="form-control" placeholder="Introduce fecha fin" name="fecha_fin" type="date" ng-required="proyecto.tiene_ficha">
        <div class="alert-danger" ng-show="isIncorrecto(proyectosForm.fecha_fin, submitted)">La fecha de fin es obligatoria si tiene ficha!</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(proyectosForm.cliente_nombre, submitted), 'has-success': isCorrecto(proyectosForm.cliente_nombre, proyecto.cliente_nombre) }">
        <label class="control-label">{{ 'NOMBRE' | translate | capitalize }} {{ 'CLIENTE' | translate | capitalize }}</label>
        <input ng-model="proyecto.cliente_nombre" class="form-control" placeholder="Introduce nombre cliente" name="cliente_nombre" type="text" ng-required="proyecto.tiene_ficha">
        <div class="alert-danger" ng-show="isIncorrecto(proyectosForm.cliente_nombre, submitted)">El nombre del cliente es obligatorio si tiene ficha!</div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group" ng-class="{ 'has-error': isIncorrecto(proyectosForm.cliente_tipo, submitted), 'has-success': isCorrecto(proyectosForm.cliente_tipo, proyecto.cliente_tipo) }">
        <label class="control-label">{{ 'TIPO' | translate | capitalize }} {{ 'CLIENTE' | translate | capitalize }}</label>
        <select ng-options="cliente for cliente in tipos_cliente" ng-model="proyecto.cliente_tipo" class="form-control" name="cliente_tipo" ng-required="proyecto.tiene_ficha">
        </select>
        <div class="alert-danger" ng-show="isIncorrecto(proyectosForm.cliente_tipo, submitted)">El tipo de cliente es obligatorio si tiene ficha!</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group" ng-class="{ 'has-error': isIncorrectoModelo(areasSelec, proyecto.tiene_ficha, submitted) }">
        <label class="control-label">{{ 'AREA' | translate | capitalize }}</label>
        <multi-select
        name = "hol"
        input-model="areas"
        output-model="areasSelec"
        button-label="nombre_es"
        item-label="nombre_es"
        tick-property="ticked"
        on-item-click="actualizarArea( data, areasSelec, tiposSelec, areasAnyadir, areasEliminar )"
        default-label="Selecciona Area...">
        </multi-select>
        <div class="alert-danger" ng-show="isIncorrectoModelo(areasSelec, proyecto.tiene_ficha, submitted)">Es obligatorio elegir un area si tiene ficha!</div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group" ng-class="{ 'has-error': isIncorrectoModelo(tiposSelec, proyecto.tiene_ficha, submitted) }">
        <label class="control-label">{{ 'TIPO' | translate | capitalize }}</label>
        <multi-select
        input-model="areasSelecTipos"
        output-model="tiposSelec"
        button-label="nombre_es"
        item-label="nombre_es"
        tick-property="ticked"
        ng-disabled="areasSelec"
        group-property="multiSelectGroup"
        on-item-click="actualizarTipo( data )"
        default-label="Selecciona Tipo..."
        >
        </multi-select>
        <div class="alert-danger" ng-show="isIncorrectoModelo(tiposSelec, proyecto.tiene_ficha, submitted)">Es obligatorio elegir un tipo si tiene ficha!</div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <div class="form-group">
      <label class="control-label">{{ 'DESCRIPCION' | translate | capitalize }} ES</label>
      <text-angular ta-toolbar="[['h1','h2','h3', 'p'],['bold','italics', 'underline'],['justifyLeft', 'justifyCenter', 'justifyRight'], ['ul','ol'], ['undo', 'redo']]" ng-model="proyecto.descripcion_es"></text-angular name="descripcion_es" ng-required="proyecto.tiene_ficha">
    </div>
  </div>
  <div class="col-lg-4">
    <div class="form-group">
      <label class="control-label">{{ 'DESCRIPCION' | translate | capitalize }} EN</label>
      <text-angular ta-toolbar="[['h1','h2','h3', 'p'],['bold','italics', 'underline'],['justifyLeft', 'justifyCenter', 'justifyRight'], ['ul','ol'], ['undo', 'redo']]" ng-model="proyecto.descripcion_en"></text-angular name="descripcion_en">
    </div>
  </div>
  <div class="col-lg-4">
    <div class="form-group">
      <label class="control-label">{{ 'DESCRIPCION' | translate | capitalize }} FR</label>
      <text-angular ta-toolbar="[['h1','h2','h3', 'p'],['bold','italics', 'underline'],['justifyLeft', 'justifyCenter', 'justifyRight'], ['ul','ol'], ['undo', 'redo']]" ng-model="proyecto.descripcion_fr"></text-angular name="descripcion_fr">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <fieldset>
      <legend>{{ 'IMAGENES' | translate | capitalize }}</legend>
      <sigo-alert ng-repeat="alerta in alertasImagenes" tipo="{{alerta.tipo}}">{{alerta.mensaje}}</sigo-alert>
      <button type="file" ng-file-select="anyadirImagen($files)" class="btn btn-success"><i class="fa fa-plus"></i> {{ 'AÑADIR' | translate | capitalize }} {{ 'IMAGEN' | translate | capitalize }}</button>
      <div ng-hide="imagenes.length > 0 || imagenesAnyadir.length > 0">{{ 'NO_HAY' | translate | capitalize }} {{ 'IMAGENES' | translate | capitalize }}.</div>
      <div class="table-responsive" ng-show="imagenes.length > 0 || imagenesAnyadir.length > 0">
        <table class="table table-striped tabla-imagenes" class="radio">
          <thead>
            <tr>
              <th>{{ 'PRINCIPAL' | translate | capitalize }}</th>
              <th>{{ 'IMAGEN' | translate | capitalize }}</th>
              <th>{{ 'NOMBRE' | translate | capitalize }}</th>
              <th>{{ 'ACCIONES' | translate | capitalize }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="f in imagenes">
              <td><input type="radio" name="opciones" id="{{f.id}}" value="{{f.id}}" ng-model="proyecto.id_pla_imagenes"></td>
              <td><img ng-if="f.id" height="100px" ng-src="uploads/images/proyectos/{{f.id}}.{{f.extension}}"></td>
              <td>{{f.nombre}}</td>
              <td><button ng-click="eliminarImagen($index, f)" type="button" class="btn glyphicon glyphicon-trash btn-danger" /></td>
            </tr>
            <tr ng-repeat="f2 in imagenesAnyadir">
              <td>*</td>
              <td><img height="100px" ng-show="imagenesUrl[$index]" ng-src="{{imagenesUrl[$index]}}"></td>
              <td>{{f2.name}}</td>
              <td><button ng-click="eliminarImagen($index, f2)" type="button" class="btn glyphicon glyphicon-trash btn-danger" /></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.table-responsive -->
    </fieldset>
  </div>
</div>
<br>
<button type="submit" class="btn btn-primary" ng-click="submitted=true">{{ textoBoton | translate | capitalize }} {{ 'PROYECTO' | translate | capitalize }}</button>
  <button ng-click="cancelar()" class="btn btn-default">{{ 'CANCELAR' | translate | capitalize }}</button>
</form>