<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Proyectos <small>Detalles</small></h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <div class="row">
    <div class="col-lg-12">
      {{proyecto.nombre}}
    </div>
    <div class="col-lg-12">
      {{proyecto.municipio}}
    </div>
    <div class="col-lg-12">
      {{proyecto.region}}
    </div>
    <div class="col-lg-12">
      {{proyecto.importe_adjudicacion}}
    </div>
    <div class="col-lg-12">
      {{proyecto.fecha_inicio}}
    </div>
    <div class="col-lg-12">
      {{proyecto.fecha_fin}}
    </div>
    <div class="col-lg-12">
      {{proyecto.cliente_nombre}}
    </div>
    <div class="col-lg-12">
      {{proyecto.cliente_tipo}}
    </div>
    <div class="col-lg-12">
      <div ng-bind-html="proyecto.descripcion"></div>
    </div>
    <div class="col-lg-12">
      <button ng-click="cancelar()" type="button" class="btn btn-primary">Volver</button>
    </div>
  </div>
  <!-- /.col-lg-12 -->
</div>