<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">{{ 'PROYECTOS' | translate | capitalize }} <small>{{ 'EDITAR' | translate | capitalize }}</small></h1>
    <panel-breadcrumb></panel-breadcrumb>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <form name="proyectosForm" ng-submit="proyectosForm.$valid && updateProyecto(proyecto, areasAnyadir, areasEliminar, tiposAnyadir, tiposEliminar, imagenesAnyadir, imagenesEliminar)" ng-include="'src/app/proyectos/proyectos-form.html'" novalidate>
    </form>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->