<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">{{ 'PROYECTOS' | translate | capitalize }}</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-4">
    <button ng-click="nuevoProyecto()" type="button" class="btn btn-success"><i class="fa fa-plus"></i> {{ 'NUEVO' | translate | capitalize }}</button>
    <br>
    <br>
  </div>
  <!-- /.col-lg-4 -->
  <div class="col-lg-8">
    <input type="text" class="form-control" ng-model="busqueda" ng-change="actualizarBusqueda()" placeholder="{{ 'BUSCAR' | translate | capitalize }} {{ 'PROYECTO' | translate | capitalize }}" />
    <br>
    <br>
  </div>
  <!-- /.col-lg-8 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
  <div ng-hide="tableParams.total()">{{ 'NO_HAY' | translate | capitalize }} {{ 'PROYECTOS' | translate }}.</div>
    <table ng-table="tableParams" class="table table-striped table-bordered table-hover" ng-show="$data">
      <tr ng-repeat="proyecto in $data" class="animate-repeat">
        <td data-title="'Expediente'">{{ proyecto.numero_expediente }}</td>
        <td data-title="'NOMBRE' | translate | capitalize" sortable="'nombre'">{{proyecto.nombre_es}}</td>
        <td data-title="'CLIENTE' | translate | capitalize">{{proyecto.cliente_nombre}}</td>
        <td data-title="'AREAS' | translate | capitalize">
          <p ng-repeat="area in proyecto.areas">
          {{area.nombre_es}}
          </p>
        </td>
        <td data-title="'TIPOS' | translate | capitalize">
          <p ng-repeat="tipo in proyecto.tipos">
          {{tipo.nombre_es}}
          </p>
        </td>
        <td data-title="'VISIBLE' | translate | capitalize">
          {{proyecto.visible}}
        </td>
        <td data-title="'ACCIONES' | translate | capitalize" width="110px">
          <!-- <button ng-click="verProyecto(proyecto.id)" type="button" class="btn glyphicon glyphicon-eye-open btn-info" title="Vista previa"/> -->
          <button ng-click="editarProyecto(proyecto.id)" type="button" class="btn glyphicon glyphicon-edit btn-warning" title="{{ 'EDITAR' | translate | capitalize }}"/>
          <button ng-click="eliminarProyecto(proyecto, $index)" type="button" class="btn glyphicon glyphicon-trash btn-danger" title="{{ 'ELIMINAR' | translate | capitalize }}"/>
        </td>
      </tr>
    </table>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->